.gridTop td {
    vertical-align: top !important;
}

.gridTop>tbody>tr>td {
    vertical-align: top !important;
}

.topAligned {
    vertical-align: top !important;
}

.centered{
}

.ui-diagram-element {   
	width:5em; 
	height:5em;
	line-height:5em;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
	border-radius: 5em;
	border: 1px solid #404a4e;
	background-color: #404a4e;
	color: #cccccc;
}

.porte, .porteNot {
	color: #000000;
	background-color: #7F91C3;
	border: 1px solid #7F91C3;
    box-shadow: 0 5px 10px rgba(127, 145, 195, 0.8);
}
   				
.sortieUtilisateur {
	color: #000000;
	background-color: #DD3F4C;
	border: 1px solid #DD3F4C;
    box-shadow: 0 5px 10px rgba(201, 36, 50, 0.8);
}

.porte:hover, .porteNot:hover{
	background-color: #5C6B94;
}

.entree {
	color: #000000;
	background-color: #7EE67C;
	border: 1px solid #7EE67C;
    box-shadow: 0 5px 10px rgba(126, 230, 124, 0.8);
}
   				
.sortieSolution{
	color: #000000;
	background-color: #E8A958;
	border: 1px solid #E8A958;
	box-shadow: 0 5px 10px rgba(232, 169, 88, 0.8);
}